{% extends 'base.html' %}
{% block chat %}
<div><h1 id="wel_name" data-name="{{ name }}">Hello, {{ name }}</h1></div>
<div class="Simon_is_good">
  <div class="chat">
    <div class="chat_area"></div>
    <div class="control_block">
      <input class="msg_area" type="text" />
      <button class="send btn btn-primary">send</button>
      <button class="clear btn btn-danger">clear</button>
    </div>
  </div>  

  <div class="users">
    <div class="users_area">
      <ul class="users_list">
      </ul>
    </div>
  </div>
</div>
{% endblock %}
