<!--
<!DOCTYPE html>
<html lang="zh_tw">
  <head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./public/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./public/css/index.css">
  </head>
  <body>
    <h1>Hello, World</h1>
    <div class="chat_area"></div>
    <div class="control_block">
      <input class="msg_area" type="text" />
      <button class="send btn btn-primary">send</button>
      <button class="clear btn btn-danger">clear</button>
    </div>
  </body>
</html>
-->

<!--
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
-->
{% extends 'base.html' %}
{% block chat %}
<div><h1 id="wel_name" data-name="{{ name }}">Hello, {{ name }}</h1></div>
<div class="Simon_is_good">
  <div class="chat">
    <div class="chat_area"></div>
    <div class="control_block">
      <input class="msg_area" type="text" />
      <button class="send btn btn-primary">send</button>
      <button class="clear btn btn-danger">clear</button>
    </div>
  </div>  

  <div class="users">
    <div class="users_area">
      <ul class="users_list">
      </ul>
    </div>
  </div>
</div>
{% endblock %}
