/* login.html style*/
.login_area {
  width: 30%;
  height: 350px;
  margin-left: 35%;
  margin-top: 10%;
  border:solid 3px #aaa;
  border-radius: 8px;
}

.login_info {
  width: 80%;
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 10%;
}

.inline {
  display:inline;
}


/* index.html style*/
::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}

#wel_name {
  margin: 10px 10px 10px 20px;
}

.Simon_is_good {
  width:100%
}

.chat, .users {
  width:40%;
  margin: 20px 10px 20px 10px;
  float:left;
}

.chat_area {
  margin:10px 10px 10px 10px;
  width:400px;
  height:300px; 
  border: solid 1px #aaa;
  border-radius: 8px;
  overflow-x:hidden;　
  overflow-y:auto;
}

.users_area {
  margin:10px 10px 10px 10px;
  width:400px;
  height:300px; 
  border: solid 1px #aaa;
  border-radius: 8px;
  overflow-x:hidden;　
  overflow-y:auto;
}

.user_li {
  margin:10px 5px 10px 10px;
}

.control_block {
  margin:10px 10px 10px 10px;
}

.msg_area {
  width: 280px;
  border-radius: 5px;
}

.msg {
  margin:10px 10px 10px 10px;
}

.login_msg {
  color: red;
}
